/* masonry layout stylings */


main{
     max-width: 1440px;
     margin: 0px auto;
}

main h2 {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}

main img {
    display: block;
    width: 100%;
    height: auto;
}

div#masonry {
    column-count: 3;
    column-gap: 6px;
}

div.item {
    margin-bottom: 7px;
}
body {
    background-image: radial-gradient(rgb(13, 183, 255), rgb(255, 225, 216));
}

/* Media Query for tablet or smaller */

@media only screen and (max-width: 768px) {    
    div#masonry {
        column-count: 2;
        column-gap: 2px;
    }
    div.item {
        margin-bottom: 4px;
    }
}